h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: $font-family--2;
}

h1, .as-h1 {
    font-size: 2em;
    line-height: 1.1;
}

h2, .as-h2 {
    font-size: 1.25em;
    line-height: 1.1;
    font-weight: 600;
}

h3, .as-h3 {
    font-size: 1.17em;
    font-weight: 600;
}

h4, .as-h4 {
    font-size: 1em;
}

h5, .as-h5 {
    font-size: 0.83em;
}

h6, .as-h6 {
    font-size: 0.67em;
}

blockquote, .blockquote {
    text-align: center;
    margin-bottom: 2em;
    font-family: $font-family--2;
}

p {
    font-size: 0.875em;
}

.timestamp {
    font-family: $font-family--2;
}
