$font-family--1: "Georgia", "Times New Roman", "Times", serif;
$font-family--2: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;


$white: #fff;
$black: #000;

$l-grey: #e5e5e5;
$grey: #f6f6f6;
$d-grey: #a6a6a6;
