.APlayer.is-hidden {
    overflow: hidden;
    max-height: 0;
}

.Player-trigger {
    outline: 1px solid #e5e5e5;
}

.jp-audio {
    border: 1px solid #e5e5e5;
    padding: 0.25em;
    margin: 1em 1em 0;
}

.jp-controls {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0;
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.jp-controls > li {
    display: inline-block;
}

.jp-controls > li button {
    color: #e5e5e5;
    transition: color 0.5s;
}

.jp-controls > li button:hover {
    color: #000;
}

.jp-controls > li button:focus {
    color: #999;
    outline: none;
}

.jp-play {
    width: 2em;
    padding-left: 0.5em;
}

.jp-pause {
    width: 2em;
    padding-right: 0.5em;
}

.jp-progress {
    background-color: #e5e5e5;
    height: 0.5em;
    margin: 0.25em 3.25em 0;
}

.jp-play-bar {
    position: relative;
    height: 0.5em;
}

.jp-play-bar:before {
    content: '';
    width: 0.25em;
    height: 0.75em;
    position: absolute;
    right: -0.25em;
    top: -0.15em;
    background-color: red;
}

.jp-progress:hover {
    cursor: pointer;
}

.jp-volume-bar {
    background-color: #e5e5e5;
    height: 0.5em;
    width: 40%;
}

.jp-volume-bar-value {
    background-color: #999;
    height: 0.5em;
}

.jp-time-holder {
    margin-bottom: -1.35em;
    overflow: hidden;
}

.jp-current-time,
.jp-duration {
    width: 3em;
    text-align: center;
}

.jp-current-time {
    float: left;
}

.jp-duration {
    float: right;
}

.jp-toggles {
    padding-left: 0;
    list-style: none;
}

.jp-playlist {
    font-size: 0.875em;
}

.jp-playlist ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.jp-playlist ul > li {
    padding: 0.25em;
    border-bottom: 1px solid #f5f5f5;
}

.jp-playlist ul > li:nth-child(2n) {
    background-color: #fafcf7;
}
