.Footer {
    padding: 0 1.5em 4em;
}

/*
 * Ideally this is handled by a wrapper instead
 */

@media only screen and (min-width: 26em) {
    .Footer {
        padding-left: 0;
        padding-right: 0;
    }
}
