.Posts {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.Posts-post {
    margin-bottom: 1.5em;
}

.Posts-post--featured {
    text-align: center;
}

.Posts-post-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.sticky {
    text-align: center;
}

.sticky .Post-meta {
    text-align: center;
}

.Post-play {
    padding: 0;
}

.Post-play:focus {
    outline: 0;
}

.Post-meta {
    text-align: right;
}