.Posts {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.Posts-post {
    margin-bottom: 1.5em;
}

.Posts-post--featured {
    text-align: center;
}

.Posts-post-title {
    margin-bottom: 0;
}
