.Posts {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.Posts-post {
    margin-bottom: 1.5em;
}

.Posts-post a {
    color: #a6a6a6;
    transition: color 0.5s;
}

.Posts-post a:hover {
    color: #000;
}

.Posts-post--featured {
    text-align: center;
}

.Posts-post-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.Post-play {
    padding: 0;
}

.Post-play {
    color: #a6a6a6;
    transition: color 0.5s;
}

.Post-play:hover {
    color: #000;
}

.Post-play:focus {
    outline: 0;
}

.Post-meta {
    text-align: right;
}


.sticky {
    text-align: center;
}

.sticky .Post-meta {
    text-align: center;
}

.sticky .Posts-post-title {
    max-width: 20em;
    margin: 1em auto 0.5em;
    a {
        color: #000;
    }
}
